<div class="sap-container">

  <form (ngSubmit)="onSubmit()" #form="ngForm" class="sap-form">
    <div class="form-group">
      <label for="pernr">ტაბელის ნომერი</label>
      <input
        type="text"
        id="pernr"
        name="pernr"
        [(ngModel)]="pernr"
        placeholder="შეიყვანე ტაბელის ნომერი..."
        required
      />
    </div>

    <button type="submit" [disabled]="!form.valid">ძებნა</button>
  </form>

  <div *ngIf="employee" class="result">
    <div class="employee-info">
      <p><span>ტაბელის N:</span> {{ employee?.pernr }}</p>
      <p><span>სახელი:</span> {{ employee?.firstName }}</p>
      <p><span>გვარი:</span> {{ employee?.lastName }}</p>
      <p><span>დაბადების თარიღი:</span> {{ employee?.birthDate }}</p>
      <p><span>პოზიცია:</span> {{ employee?.positionText }}</p>
      <p><span>პოზიცია ID:</span> {{ employee?.positionId }}</p>
    </div>
  </div>

  <div *ngIf="error" class="error">
      {{ error }}
  </div>
</div>
